.event_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center text within the container */
  padding: 0 1rem; /* Add padding for spacing */
}

.event_details h1 {
  margin: 0.2rem 0; 
  font-size: 3.8rem;
}

.breakdown {
  margin-top: .5rem;
}

.event_details img {
  margin: 1rem 0; /* Add margin for spacing */
  max-width: 40%;
  border-radius: 1rem;
}
.analysis{
  color: rgba(255, 0, 43, 0.874);
}

.event_details h2 {
  margin-top: 1rem;
}

.event_details p {
  margin: 0.5rem 0;
}

.event_details button {
  width: 6rem;
  height: 2.7rem;
  border: none;
  border-radius: 8px;
  background-color: tomato;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1rem;
  box-shadow: 2px 3px 5px rgba(216, 98, 78, 0.164);
}

.event_details button:active {
  transform: scale(0.95);
}

/* Media Queries for responsiveness */
@media (max-width: 1050px) {
  .event_details {
    padding: 0.8rem; /* Adjust padding for 1050px screens */
  }

  .event_details img {
    max-width: 70%; /* Adjust image size for 1050px screens */
  }

  .event_details h1 {
    font-size: 2.4rem; /* Adjust heading font size for 1050px screens */
  }

  .event_details h2 {
    font-size: 1.8rem; /* Adjust subheading font size for 1050px screens */
  }

  .event_details p {
    font-size: 1.1rem; /* Adjust paragraph font size for 1050px screens */
  }

  .event_details button {
    font-size: 0.9rem; /* Adjust button font size for 1050px screens */
    padding: 0.7rem 1.2rem; /* Adjust button padding for 1050px screens */
  }
}

@media (max-width: 768px) {
  .event_details {
    padding: 0.5rem; /* Adjust padding for smaller screens */
  }

  .event_details img {
    max-width: 90%; /* Adjust image size for smaller screens */
  }

  .event_details button {
    font-size: 1rem; /* Adjust button font size for smaller screens */
    padding: 0.7rem 1.2rem; /* Adjust button padding for smaller screens */
    font-weight: 550;
  }
}

@media (max-width: 480px) {
  .event_details h1 {
    font-size: 1.5rem; /* Adjust heading font size for very small screens */
  }

  .event_details h2 {
    font-size: 1.2rem; /* Adjust subheading font size for very small screens */
  }

  .event_details p {
    font-size: 1rem; /* Adjust paragraph font size for very small screens */
  }

  .event_details img {
    height: max(80vw); /* Adjust image height for very small screens */
  }

  .event_details button {
    font-size: 0.8rem; /* Adjust button font size for very small screens */
    padding: 0.6rem 1rem; /* Adjust button padding for very small screens */
  }
}
