* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #000;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.AboutUsContainer {
    background: url(assets/background.avif);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    text-align: center;
}

.font {
    font-weight: 900;
    font-size: 40px;
    background: #FF0000;
    background: linear-gradient(to right, #FF0000 0%, #FFC100 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.AboutUsText {
    text-align: justify;
}

.AboutUsInnerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.AboutUs {
    display: grid;
    align-items: center;
    width: calc(50% - 20px);
    margin: 10px;
}

.AboutUsHeading {
    display: none;
    text-align: left;
    font-size: xx-large;
    color: white;
}

@media (max-width: 728px) {
    .AboutUs {
        width: calc(100% - 20px);
    }
}

@media (min-width:1024px) {
    .AboutUsHeading {
        display: block;
        margin-bottom: 25px;
        margin-top: 10px;
    }

    .AboutUs {
        display: block;
        align-items: center;
        max-width: 492px;
        margin: 10px;
    }

    .AboutUsInnerContainer {
        justify-content: center;
    }

    .AboutUsRight {
        margin-left: 20px;
    }
}